/* Variables */
:root {
    --primary-color: #cf3b55;
    --secondary-color: #ffc565;
    --light-color: #F5F5F5;
    --dark-color: #292929;
}

/* General */
* {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: .3s;
}

li {
    list-style: none;
}

button {
    transition: .5s;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 3rem .5rem;
}

footer p,
footer span {
    font-weight: 300;
}