/* Variables */
:root {
    --primary-color: #cf3b55;
    --secondary-color: #D6D6D6;
    --light-color: #F5F5F5;
    --dark-color: #3D3D3D;
}

/* General */
* {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--dark-color);
}

a {
    text-decoration: none;
    transition: .3s;
}

li {
    list-style: none;
}

button {
    transition: .5s;
    cursor: pointer;
}

/* Navbar */
.navigation-bar {
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
}

.navigation-bar-brand a {
    color: var(--dark-color);
    font-size: 1.2rem;
    font-weight: 700;
}

.navigation-bar-brand img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}
  
.navigation-bar-toggle {
    display: initial;
    align-self: flex-end;
    position: absolute;
    top: 16px;
}

.navigation-bar-icon {
    background-color: transparent;
    border: none;
}

.navigation-bar-icon i {
    color: var(--dark-color);
    font-size: 1rem;
}

.navigation-bar .open {
    display: block;
}

.navigation-bar-items {
    display: none;
}

.navigation-bar-items ul {
    margin: 0;
    padding: 1rem 0 0;
}
  
.navigation-bar-item {
    padding: .5rem 0;
}
  
.navigation-bar-item a {
    color: var(--dark-color);
    font-weight: 700;
}

.navigation-bar-item a:hover {
    color: var(--primary-color);
}

/* Validation Message */
.message {
    margin: .5rem .5rem 0;
    text-align: center;
}

.message p {
    margin-bottom: 0;
}

/* Main Index */
.main {
    background-color: var(--light-color);
    border-radius: 5px;
    margin: .5rem .5rem 12rem;
    padding: 1rem;
}
  
.main h2,
.main label {
    color: var(--dark-color);
    font-weight: 700;
}

.main label {
    margin: 0 0 .2rem .5rem;
}

.main select,
.main option {
    color: var(--dark-color);
    font-weight: 300;
}

/* Footer */
footer {
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 3rem .5rem;
}

footer p,
footer span {
    font-weight: 300;
}

/* Responsive */
@media (min-width: 768px) {
    /* Validation Message */
    .message {
        margin: 1rem 1rem 0;
    }

    /* Main Index */
    .main {
        margin: 1rem 1rem 12rem;
    }
}

@media (min-width: 1024px) {
    /* Navbar */
    .navigation-bar {
        flex-direction: row;
        padding: 1rem 6rem;
    }

    .navigation-bar-brand {
        margin-right: 2rem;
    }

    .navigation-bar-toggle {
        display: none;
    }

    .navigation-bar-items {
        display: flex;
    }

    .navigation-bar-items ul {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 0;
    }

    .navigation-bar-item {
        padding: 0 2rem;
    }

    /* Validation Message */
    .message {
        margin: 2rem 25rem 0;
    }

    /* Main Index */
    .main {
        margin: 2rem 25rem 12rem;
    }
}